{% extends('user.html.twig') %}

{% block title %}Questionnaire Questions{% endblock %}



{% block body %}

    <div class="jumbotron jumbotron-fluid bg-info text-center">
        <div class="container">
            <h1>Welcome to the questionnaire</h1>
            <h3>Answer as truthfully as possible</h3>
        </div>
    </div>

	{% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container-fluid">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>No</th>
                <th>Question</th>
                <th>Answer</th>
            </tr>
            </thead>

            <tbody>
            {% for question in posts %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ question.question }} ?</td>
                    <td>
                        <form class="form-inline" method="POST">
				 <input type="text" class="form-control" placeholder="Enter answer" name="reply">
				 <input type="hidden" class="form-control" placeholder="{{question.question}}" value="{{question.id}}" name="oneTen">		
				 <button type="submit" class="btn btn-primary">Submit</button>	
			</form>

                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}

