{% extends 'admin.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block stylesheets %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

{% endblock %}


{% block body %}
<div class="example-wrapper">
    <h2>Questionnaire questions. please add desired questions</h2>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>NO.</th>
                <th>Question</th>
		<th>Answers</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for question in posts %}
            <tr>
                <td> {{ loop.index }}</td>
                <td>
                        {{ question.question }}
                    
                </td>
		<td>
			<a class="text-info"href="{{ path('post.show', {id: question.id}) }}">
                        Answers
                    </a>	
		</td>
                <td>
                    <a href="{{ path('post.delete', {id: question.id}) }}" class="text-danger">remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <button class="btn btn-info"  onclick='window.location.href="{{ path('post.create') }}"'>Add Questionnaire</button>
</div>

<div class="container pt-5">
	<h2>Yes_NO questions. please add desired questions</h2>

    {% for message in app.flashes('success_yes') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


	<table class="table table-striped table-responsive">
		<thead>
            		<tr>
                		<th>NO.</th>
                		<th>Question</th>
				<th>Answers</th>
                		<th>Actions</th>
            		</tr>
        	</thead>

		        <tbody>
        {% for questions in yes %}
            <tr>
                <td> {{ loop.index }}</td>
                <td>
                        {{ questions.question }}
                    
                </td>
		<td>
			<a class="text-info"href="{{ path('post.show_yes', {id: questions.id}) }}">
                        Answers
                    </a>	
		</td>
                <td>
                    <a href="{{ path('post.delete_yes', {id: questions.id}) }}" class="text-danger">remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
	</table>

	<button class="btn btn-info"  onclick='window.location.href="{{ path('post.create_yes_no') }}"'>Add Yes_No Question</button>
</div>

<div class="container pt-5">
	<h2>One-Ten questions. please add desired questions</h2>

    {% for message in app.flashes('success_questionnaire') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

	<table class="table table-striped table-responsive">
		<thead>
            		<tr>
                		<th>NO.</th>
                		<th>Question</th>
				<th>Answers</th>
                		<th>Actions</th>
            		</tr>
        	</thead>

		        <tbody>
        {% for questions in question %}
            <tr>
                <td> {{ loop.index }}</td>
                <td>
                        {{ questions.question }}
                    
                </td>
		<td>
			<a class="text-info"href="{{ path('post.show_questionnaire', {id: questions.id}) }}">
                        Answers
                    </a>	
		</td>
                <td>
                    <a href="{{ path('post.delete_questionnaire', {id: questions.id}) }}" class="text-danger">remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
	</table>

	<button class="btn btn-info"  onclick='window.location.href="{{ path('post.create_questionnaire') }}"'>Add One_Ten Question</button>
</div>
{% endblock %}
